.favorites-container {
  background-color: rgb(255, 248, 240);
  padding-block: 0.5em;
  display: flex;
  flex-direction: column;

  .product-card {
    width: 800px;
    height: 400px;
    margin: 2rem auto;
    .img-cont {
      background-color: white;
      .product-image {
        border-radius: 0%;
        width: 330px;
        height: 320px;
      }
    }
  }
  button {
    background-color: rgb(245, 185, 73);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
  }
}
