/* Corrected CSS */
body {
  max-width: 1920px;
}

.container-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(245, 233, 240);
  padding: 2rem 2rem;
  width: 100%;
  height: 6rem;
}

.name {
  margin-top: 1rem;
  font-size: 2rem;
  font-style: italic;
}

.navbar-h1 {
  font-size: 3.8rem;
}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-ul .nav-item {
  list-style: none;
  text-decoration: none;

  padding: 0 1rem;
  position: relative;
  color: rgb(235, 185, 185);
  border: none;
  border-radius: none;
}

.nav-item .nav-button {
  border: none;
}

.nav-ul .nav-span {
  color: black;
  margin-left: 0.3rem;
}

.nav-item .nav-span {
  font-size: 1.2rem;
  color: black;
}

.nav-ul .nav-item:hover .nav-span {
  text-decoration: underline;
  font-weight: 900;
}
@media only screen and (max-width: 899px) {
  .navbar-h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 769px) {
  .navbar-h1 {
    font-size: 2rem;
  }

  .nav-ul {
    display: none;
  }

  .img {
    display: none;
  }

  .nav.responsive {
    display: block;
    width: 100%;
  }

  .nav.responsive .nav-item {
    text-align: center;
    padding: 1rem 0;
  }
}
