
.logo {
  border-radius: 50%;
  width: 90px;
}

.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fffefe;
  color: #000000;
  background-color: rgb(255, 248, 240);
  padding: 2rem 2rem;
  width: 100%;
  height: 6rem;
}

.navbar-h1 {
  font-family: monospace;
  display: block;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  display: none;
}

.mobile-menu {
  position: relative;
}

.mobile-menu.show {
  display: block;
}

.nav-ul {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 1%; 
  left: 0;
  width: 100%;
  margin: 10px auto;
}

.nav-item {
  padding: 1rem;
  text-align: center;
}

.nav-ul.show {
  display: block;
}


.nav-name {
  display: none;

.nav-item a {
  color: black;
  text-decoration: none;


.nav-item {
  margin: 0 1rem;

}
.nav-icon {
  color: black;
}

.nav-button {
  background: none;
  border: none;
  color: #0f0f0f;
  cursor: pointer;
  font-size: 1rem;

}

.nav-span:hover {
  text-decoration: dashed;
  font-weight: 900;
}
.nav-icon {
  color: black;
}

.nav-ul.show {


  display: flex;
  align-items: center;
}

.nav-span {
  margin-left: 0.5rem;
}

.burger-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger-icon .bar {
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 4px 0;
  transition: 0.4s;
}

.burger-icon .animation1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-icon .animation2 {
  opacity: 0;
}

.burger-icon .animation3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* New Media Query */
@media (max-width: 768px) {
  .nav-ul {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #fff7f7;
  }

  .logo {
    display: none;
  }

  .navbar-h1 {
    display: block;
    font-family: monospace;
    font-size: 1rem;
    position: relative;
    text-align: center;
    margin: 0 auto;
  }

  .navbar-h1::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 130%;
    height: 5px;
    background-color: rgb(228, 184, 79);
  }

  .nav-name {
    display: flex;
    justify-content: start;
    align-self: start;
    margin-left: 0;
    color: #000000;

    position: relative;
    padding-left: 8px;
    margin-bottom: -10px;
  }
  .nav-name::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 1;
    width: 40%;
    height: 5px;
    background-color: rgb(228, 184, 79);
  }

  .nav-span {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 0;
    color: #000000;
    position: relative;
    padding-left: 8px;
    margin-bottom: -10px;
  }

  .nav-span::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 1;
    width: 220%; 
    height: 5px;
    background-color: rgb(228, 184, 79);
  }

  .burger-icon {
    display: flex;
  }

  .nav-icon {
    display: none;
  }

  .nav-item {
    margin: 0.5rem 0;
    position: static;
    padding-left: 0;
  }
  .nav-item.logout-item {
    display: none;
  }
}
