body {
  max-width: 1920px;
}
.headerbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(245, 233, 240);
  padding: 2rem 2rem;
  width: 100%;
  height: 6rem;
}
.name {
  margin-top: 1rem;
  font-size: 2rem;
  font-style: italic;
}
.bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar li {
  list-style: none;
  padding: 0 1rem;
  position: relative;
  color: rgb(235, 185, 185);
  border: none;
  border-radius: none;
}
li button {
  border: none;
}
.bar span {
  color: black;
  margin-left: 0.3rem;
}

img {
  border-radius: 60%;
  height: 8rem;
  width: 16rem;
  padding-left: 2rem;
}
li span {
  font-size: 1.2rem;
  color: black;
}
.bar li:hover span {
  text-decoration: underline;
  font-weight: 900;
}

@media only screen and (max-width: 768px) {
  .bar {
    display: none;
  }
  .img {
    display: none;
  }

  .bar.responsive {
    display: block;
    width: 100%;
  }

  .bar.responsive li {
    text-align: center;
    padding: 1rem 0;
  }
}
li span {
  padding: 1rem;
  color: black;
}
