.register-container-two {
  max-width: 40%;

  padding: 10px;
  position: absolute;
  right: 21%;
}
.home-span {
  height: 500px;
}

.home-container {
  background-image: url("../../../../img/imgdog.jpg");
  background-size: cover;
  background-position: left 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  height: 50vh;
}

.home-home-discount {
  display: flex;

  align-items: center;
  flex-direction: column;
}
.home-h01 {
  width: 80%;
  padding-top: 6rem;
  text-align: center;
  color: rgb(250, 249, 249);

  font-weight: bold;
}
.home-30 {
  font-size: 4rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
  color: rgb(255, 255, 255);
}
.home-button {
  padding: 0.8rem;
  width: 80%;
  margin-top: 0.1rem;
  margin-left: 1rem;

  border-radius: 1rem;
  border: none;
}

.product-background {
  background-color: white;
  height: 1000px;
}

.product-h1 {
  text-align: center;
  font-size: 4rem;
  padding-top: 5rem;
}
.product-ul {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.product-li {
  font-size: 2rem;
  list-style: none;
  text-decoration: none;
  margin: 5rem;
}

.product-card {
  display: flex;
  justify-content: center;
  background-color: white;
}

@media only screen and (max-width: 1200px) {
  .home-container .home-p {
    width: 50%;
    font-size: 0.5;
  }
}

@media only screen and (max-width: 768px) {
  .home-container {
    background-image: url("../../../../img/imgdog.jpg");
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: start;
  }
  .home-h01 {
    font-size: 1.2rem;
  }

  .home-button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;

    border-radius: 1rem;
    width: 80%;
    margin-left: 9px;
  }
  .home-home-discount {
    align-self: start;
    margin-left: -2rem;
  }
}
