.cart-container {
  margin: auto;
  background-color: rgb(255, 248, 240);
  .processing-line {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    border-top: solid rgb(245, 185, 73) 3px;
    .circle {
      position: relative;
      bottom: 25px;
      border-radius: 50%;
      font-size: 2rem;
      padding: 0 15px;
      background-color: white;
      border: solid rgb(245, 185, 73) 2px;
    }
    .circle-active {
      background-color: rgb(245, 185, 73);
      color: white;
    }
  }
  .card {
    width: 50%;
    margin: auto;
  }
  .cart-item {
    margin: 1em auto;
    width: 90%;
    justify-content: stretch;

    .img-container {
      background-color: white;
      // padding: 2rem;
    }
    img {
      border-radius: 0%;
      width: 250px;
      height: 230px;
    }
    .quantity-controls {
      button {
        width: 30px;
        background-color: rgb(245, 185, 73);
        border: none;
        color: white;
      }
    }
    .rmv-cont {
      display: flex;
      justify-content: right;
      .remove-btn {
        background-color: rgb(245, 185, 73);
        border: none;
        color: white;
        width: 100px;
      }
    }
  }
  .total-cart {
    margin: 2rem auto;
    padding-block: 2rem;
    width: 90%;
    border-bottom: solid 2px rgb(245, 185, 73);
    border-top: solid 2px rgb(245, 185, 73);
  }
  .checkout-btn {
    background-color: rgb(245, 185, 73);
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0 0 5px 5px;
  }
}
